@import "tailwindcss";

@theme inline {
  /* ----- colors -----  */

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-sans: var(--font-dm-sans);
  --font-styled-sans: var(--font-bricolage-grotesque);
}

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-neutral-900 text-neutral-0 text-lg p-4 md:p-6 lg:px-28 lg:py-12;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #302f4a; /* thumb color */
    border-radius: 0.125rem;
    border: 1px solid #3C3B5E;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* track color */
  }
}

@layer utilities {
  .text-preset-xl {
    @apply font-medium text-xl ;
  }
  .text-preset-lg {
    @apply font-medium text-lg;
  }
  .text-preset-base {
    @apply font-medium text-base;
  }
  .seprator {
    @apply w-full h-[1px] bg-neutral-600;
  }
  .container-border {
    @apply border-[1px] border-neutral-600;
  }
}
